<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Osaka Belle</title>
	<atom:link href="https://demo.flothemes.com/osaka-belle/feed/" rel="self" type="application/rss+xml" />
	<link>https://demo.flothemes.com/osaka-belle</link>
	<description>Just another Flothemes Demos site</description>
	<lastBuildDate>Mon, 17 Dec 2018 14:20:21 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.4.2</generator>
	<item>
		<title>Kristina &#038; Ian</title>
		<link>https://demo.flothemes.com/osaka-belle/2017/03/11/kristina-ian/?utm_source=rss&#038;utm_medium=rss&#038;utm_campaign=kristina-ian</link>
		
		<dc:creator><![CDATA[FloThemes]]></dc:creator>
		<pubDate>Sat, 11 Mar 2017 09:25:19 +0000</pubDate>
				<category><![CDATA[Couples]]></category>
		<guid isPermaLink="false">https://demo.flothemes.com/osaka/?p=198</guid>

					<description><![CDATA[What a beautiful couple these guys are!]]></description>
										<content:encoded><![CDATA[<p>Osaka is a large port city and commercial center on the Japanese island of Honshu. It’s known for its modern architecture, nightlife and hearty street food, the perfect place for any photographer. Offering a 16th-century shogunate Osaka Castle, be prepared to be blown away. It’s surrounded by a moat and park with plum, peach and cherry-blossom trees. Sumiyoshi-taisha is among Japan’s oldest Shinto shrines.</p>
<p><img class="alignnone size-full wp-image-1250" src="https://demo.flothemes.com/osaka-belle/files/2018/12/Kristina_Ian_Greg_Finck-043.jpg" alt="" width="1200" height="1638" /> <img class="alignnone size-full wp-image-1241" src="https://demo.flothemes.com/osaka-belle/files/2018/12/Kristina_Ian_Greg_Finck-033.jpg" alt="" width="1200" height="1660" /> <img class="alignnone size-full wp-image-1247" src="https://demo.flothemes.com/osaka-belle/files/2018/12/Kristina_Ian_Greg_Finck-040.jpg" alt="" width="1200" height="1638" /> <img class="alignnone size-full wp-image-1245" src="https://demo.flothemes.com/osaka-belle/files/2018/12/Kristina_Ian_Greg_Finck-038.jpg" alt="" width="1200" height="1638" /> <img class="alignnone size-full wp-image-1243" src="https://demo.flothemes.com/osaka-belle/files/2018/12/Kristina_Ian_Greg_Finck-036.jpg" alt="" width="1200" height="1638" /></p>


<p></p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Meet me on the rooftops of Paris</title>
		<link>https://demo.flothemes.com/osaka-belle/2017/03/01/meet-me-on-the-rooftops-of-paris/?utm_source=rss&#038;utm_medium=rss&#038;utm_campaign=meet-me-on-the-rooftops-of-paris</link>
		
		<dc:creator><![CDATA[FloThemes]]></dc:creator>
		<pubDate>Wed, 01 Mar 2017 10:06:56 +0000</pubDate>
				<category><![CDATA[Couples]]></category>
		<guid isPermaLink="false">https://demo.flothemes.com/osaka/?p=213</guid>

					<description><![CDATA[Osaka is a platform that was designed to allow you to share your voice to support your craft individually.]]></description>
										<content:encoded><![CDATA[<p>I&#8217;ve been working with so many people &#8211; couples and individuals, introverts and extraverts. But these guys are incredible, so full of live and fun! And for sure LOVE!</p>
<p><img class="alignnone size-full wp-image-1192" src="https://demo.flothemes.com/osaka-belle/files/2018/12/Rime_Arodaky_Campaign_019_Greg_Finck-0067.jpg" alt="" width="2400" height="3277" /> <img class="alignnone size-full wp-image-1191" src="https://demo.flothemes.com/osaka-belle/files/2018/12/Rime_Arodaky_Campaign_019_Greg_Finck-0066.jpg" alt="" width="2400" height="3277" /> <img class="alignnone size-full wp-image-1190" src="https://demo.flothemes.com/osaka-belle/files/2018/12/Rime_Arodaky_Campaign_019_Greg_Finck-0065.jpg" alt="" width="2400" height="3276" /> <img class="alignnone size-full wp-image-1188" src="https://demo.flothemes.com/osaka-belle/files/2018/12/Rime_Arodaky_Campaign_019_Greg_Finck-0063.jpg" alt="" width="1758" height="2400" /></p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Gabby and Patrick wedding</title>
		<link>https://demo.flothemes.com/osaka-belle/2017/03/01/gabby-and-patrick-wedding/?utm_source=rss&#038;utm_medium=rss&#038;utm_campaign=gabby-and-patrick-wedding</link>
		
		<dc:creator><![CDATA[FloThemes]]></dc:creator>
		<pubDate>Wed, 01 Mar 2017 10:04:15 +0000</pubDate>
				<category><![CDATA[Wedding]]></category>
		<guid isPermaLink="false">https://demo.flothemes.com/osaka/?p=212</guid>

					<description><![CDATA[Osaka is a large port city and commercial center on the Japanese island of Honshu. It’s known for its modern architecture, nightlife and hearty street food, the perfect place for any photographer.]]></description>
										<content:encoded><![CDATA[<p><img class="alignnone size-full wp-image-1037" src="https://demo.flothemes.com/osaka-belle/files/2018/12/Vivian_Kean_Greg_Finck-012.jpg" alt="" width="1200" height="1638" /> <img class="alignnone size-full wp-image-1034" src="https://demo.flothemes.com/osaka-belle/files/2018/12/Vivian_Kean_Greg_Finck-009.jpg" alt="" width="1200" height="1638" /> <img class="alignnone size-full wp-image-1035" src="https://demo.flothemes.com/osaka-belle/files/2018/12/Vivian_Kean_Greg_Finck-010.jpg" alt="" width="1200" height="1638" /> <img class="alignnone size-full wp-image-1041" src="https://demo.flothemes.com/osaka-belle/files/2018/12/Vivian_Kean_Greg_Finck-016.jpg" alt="" width="1200" height="1638" /></p>
<p style="text-align: center;">
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>LOVE is in the air!</title>
		<link>https://demo.flothemes.com/osaka-belle/2017/03/01/211/?utm_source=rss&#038;utm_medium=rss&#038;utm_campaign=211</link>
		
		<dc:creator><![CDATA[FloThemes]]></dc:creator>
		<pubDate>Wed, 01 Mar 2017 10:01:01 +0000</pubDate>
				<category><![CDATA[Couples]]></category>
		<guid isPermaLink="false">https://demo.flothemes.com/osaka/?p=211</guid>

					<description><![CDATA[Osaka is a large port city and commercial center on the Japanese island of Honshu. It’s known for its modern architecture, nightlife and hearty street food, the perfect place for any photographer. ]]></description>
										<content:encoded><![CDATA[<p><img class="alignnone size-full wp-image-1173" src="https://demo.flothemes.com/osaka-belle/files/2018/12/Rime_Arodaky_Campaign_019_Greg_Finck-0048.jpg" alt="" width="2400" height="1758" /> <img class="alignnone size-full wp-image-1172" src="https://demo.flothemes.com/osaka-belle/files/2018/12/Rime_Arodaky_Campaign_019_Greg_Finck-0047.jpg" alt="" width="2400" height="3277" /> <img class="alignnone size-full wp-image-1171" src="https://demo.flothemes.com/osaka-belle/files/2018/12/Rime_Arodaky_Campaign_019_Greg_Finck-0046.jpg" alt="" width="2400" height="3277" /> <img class="alignnone size-full wp-image-1163" src="https://demo.flothemes.com/osaka-belle/files/2018/12/Rime_Arodaky_Campaign_019_Greg_Finck-0038.jpg" alt="" width="1758" height="2400" /></p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Browyn and Hellen engagement session</title>
		<link>https://demo.flothemes.com/osaka-belle/2017/03/01/browyn-and-mitch-engagement-session/?utm_source=rss&#038;utm_medium=rss&#038;utm_campaign=browyn-and-mitch-engagement-session</link>
		
		<dc:creator><![CDATA[FloThemes]]></dc:creator>
		<pubDate>Wed, 01 Mar 2017 09:57:17 +0000</pubDate>
				<category><![CDATA[Engagement]]></category>
		<guid isPermaLink="false">https://demo.flothemes.com/osaka/?p=210</guid>

					<description><![CDATA[Osaka is a large port city and commercial center on the Japanese island of Honshu. 

It’s known for its modern architecture, nightlife and hearty street food, the perfect place for any photographer. Offering a 16th-century shogunate Osaka Castle, be prepared to be blown away. It’s surrounded by a moat and park with plum, peach and cherry-blossom trees. ]]></description>
										<content:encoded><![CDATA[<p>Engagement photoshoots are always so emotional and touching! However, when you take pictures of your best friend engagement, it&#8217;s very hard to control your own emotions.</p>
<p><img class="alignnone size-full wp-image-1220" src="https://demo.flothemes.com/osaka-belle/files/2018/12/Kristina_Ian_Greg_Finck-010.jpg" alt="" width="1200" height="1638" /> <img class="alignnone size-full wp-image-1219" src="https://demo.flothemes.com/osaka-belle/files/2018/12/Kristina_Ian_Greg_Finck-009.jpg" alt="" width="1200" height="879" /> <img class="alignnone size-full wp-image-1218" src="https://demo.flothemes.com/osaka-belle/files/2018/12/Kristina_Ian_Greg_Finck-008.jpg" alt="" width="1200" height="1638" /> <img class="alignnone size-full wp-image-1217" src="https://demo.flothemes.com/osaka-belle/files/2018/12/Kristina_Ian_Greg_Finck-007.jpg" alt="" width="1200" height="1638" /></p>


<p></p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Video Post</title>
		<link>https://demo.flothemes.com/osaka-belle/2017/02/13/video-post/?utm_source=rss&#038;utm_medium=rss&#038;utm_campaign=video-post</link>
		
		<dc:creator><![CDATA[FloThemes]]></dc:creator>
		<pubDate>Mon, 13 Feb 2017 14:51:41 +0000</pubDate>
				<category><![CDATA[Engagement]]></category>
		<guid isPermaLink="false">https://demo.flothemes.com/osaka/?p=350</guid>

					<description><![CDATA[Specially for videographers and video bloggers we added this elegant embed video option, that we hope you will enjoy!]]></description>
										<content:encoded><![CDATA[<p>Specially for videographers and video bloggers we added this elegant embed video option, that we hope you will enjoy!</p>
]]></content:encoded>
					
		
		
			</item>
	</channel>
</rss>
